

    body {
    font-family: "Lexend", sans-serif;
    }
.hanken{
   font-family: "Hanken Grotesk", sans-serif;
}
    /* .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #f4c691;
      display: flex;
      justify-content: center;
      align-items: center;
    
    }

    @media (max-width: 760px) {
      .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
      }

      .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
      }
    }
    .swiper-button-prev, 
.swiper-button-next {
  width: 30px;
  height: 30px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  color: white;
    overflow:hidden;
  transition: 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
  overflow:hidden;
  background: #d374bd;
  color: white;
  
}
 */


/* animated button */
.animated-border-button {
      position: relative;
      padding: 10px 20px;
      color: #fff;
      background-color: transparent;
      font-size: 18px;
      cursor: pointer;
      border: none;
      z-index: 1;
      overflow: hidden;
      border-radius: 10px;
     
    }

    .animated-border-button::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      background: linear-gradient(45deg, #00f6ff, #ff00f6, #f6ff00, #00f6ff);
      background-size: 300% 300%;
      z-index: -1;
      animation: borderAnimation 4s linear infinite;
    }

    .animated-border-button::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background-color: #111;
      z-index: -1;
    }

    @keyframes borderAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    
